@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  ::-webkit-scrollbar {
    width: 0.5rem;
  }

  ::-webkit-scrollbar-track {
    background: ##c6c6c6;
  }

  ::-webkit-scrollbar-thumb {
    background: #62c8b8;
    border-radius: 1rem;
    transition: background 0.3s ease-in-out;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #01967f;
  }

  scrollbar-width: 0.5rem;
  scrollbar-color: #62c8b8 ##c6c6c6;
}
